---
Language: Cpp
BasedOnStyle: LLVM
AllowShortFunctionsOnASingleLine: Inline
AlwaysBreakTemplateDeclarations: Yes
BraceWrapping:
  AfterFunction: true
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false
BreakBeforeBraces: Custom
PointerAlignment: Left
...
