# Build directories
/build*/

# CMake
/CMakeCache.txt
/CMakeDoxyfile.in
/CMakeDoxygenDefaults.cmake
/CMakeFiles/
/CMakeScripts/
/cmake_install.cmake
/compile_commands.json
/install_manifest.txt

# CTest
/Testing/
/CTestTestfile.cmake
/DartConfiguration.tcl

# CPack
/CPackConfig.cmake
/CPackSourceConfig.cmake

# Meson
/subprojects/**/

# Visual Studio Code
/.settings/
/.vscode/

# clangd
/.cache/

# GDB
/.gdb_history
